<%= form_with(model: event_proof, local: true) do |form| %>
  <% if event_proof.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(event_proof.errors.count, "error") %> prohibited this event_proof from being saved:</h2>

      <ul>
        <% event_proof.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.number_field :user_id %>
  </div>

  <div class="field">
    <%= form.label :event_id %>
    <%= form.number_field :event_id %>
  </div>

  <div class="field">
    <%= form.label :note %>
    <%= form.text_area :note %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
