<%= form_with(model: event_proof, local: true) do |form| %>
  <% if event_proof.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(event_proof.errors.count, "error") %> prohibited this event_proof from being saved:</h2>

      <ul>
        <% event_proof.errors.full_messages.each do |message| %>
          <li><%= メッセージ %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
<%
=begin %>
  <div class="field">
    <%= form.label :user_id, "ユーザーのID" %>
    <%= form.number_field :user_id %>
  </div>

  <div class="field">
    <%= form.label :event_id, "イベントのID" %>
    <%= form.number_field :event_id %>
  </div>

  <div class="field">
    <%= form.label :image, "画像" %>
    <%= form.file_field :image %><br>
  </div>
  <%
=end %>
  <p>
    <strong>ユーザー:</strong>
    <%= @event_proof.user.email if @event_proof.user %>
  </p>
  
  <p>
    <strong>イベント:</strong>
    <%= @event_proof.event.name if @event_proof.event %>
  </p>
  
  <p>
    <% if @event_proof.image.attached? %>
      <strong>画像:</strong><br>
      <%= image_tag @event_proof.image %>
    <% end %>
  </p>

  <div class="field">
    <%= form.label :note, "注意" %>
    <%= form.text_area :note %>
  </div>
  
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
