<p id="notice"><%= notice %></p>

<h1>Event Proofs</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Event</th>
      <th>Note</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @event_proofs.each do |event_proof| %>
      <tr>
        <td><%= event_proof.user_id %></td>
        <td><%= event_proof.event_id %></td>
        <td><%= event_proof.note %></td>
        <td><%= link_to 'Show', event_proof %></td>
        <td><%= link_to 'Edit', edit_event_proof_path(event_proof) %></td>
        <td><%= link_to 'Destroy', event_proof, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Event Proof', new_event_proof_path %>
