<p id="notice"><%= notice %></p>
<p>
  <strong>Name:</strong>
  <%= @event.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @event.description %>
</p>

<p>
  <strong>Startdate:</strong>
  <%= @event.startDate %>
</p>

<p>
  <strong>Enddate:</strong>
  <%= @event.endDate %>
</p>

<p>
  <strong>Point:</strong>
  <%= @event.point %>
</p>

<% if @event.if_registed(@user.id, @event.id) != 0%>
  <%= link_to "証拠を作成する", "/event_registrations/" + @event.if_registed(@user.id, @event.id).to_s %>
<% else %>
  <%= link_to "イベントを登録する", "/event_registrations/new" %>
<% end %>
<br>
<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
