<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @event.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @event.description %>
</p>

<p>
  <strong>Startdate:</strong>
  <%= @event.startDate %>
</p>

<p>
  <strong>Enddate:</strong>
  <%= @event.endDate %>
</p>

<p>
  <strong>Point:</strong>
  <%= @event.point %>
  
</p>

<div class="card-header">Comments:</div>
  <div class="card-body">
    <ul>
      <% @event.event_comments.each do |event_comment|%>
          <li><%= event_comment.content %> (<%= event_comment.user.email %>)</li>
      <% end %>
    </ul>
  </div>
</div>
  
<%= form_with(model: EventComment.new, local: true) do |form| %>
  <div class="field">
    <%= form.hidden_field :user_id, value:current_user.id  %>
  </div>

  <div class="field">
    <%= form.hidden_field :event_id, value:@event.id  %>
  </div>

  <div class="field">
    <%= form.label :content %>
    <%= form.text_area :content %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
  
<%= form_with(model: EventRegistration.new, local: true) do |form| %>

  <div class="field">
    <%= form.hidden_field:user_id, value:current_user.id %>
  </div>

  <div class="field">
    <%= form.hidden_field :event_id, value:@event.id %>
  </div>
  <div class="field">
    <%= form.label :reason %>
    <%= form.text_area :reason %>
  </div>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
