<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @event_registration.user_id %>
</p>

<p>
  <strong>Event:</strong>
  <%= @event_registration.event_id %>
</p>

<p>
  <strong>Reason:</strong>
  <%= @event_registration.reason %>
</p>

<%= link_to 'Edit', edit_event_registration_path(@event_registration) %> |
<%= link_to 'Back', event_registrations_path %>
